@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


::placeholder{
    color: whitesmoke;
    opacity: 1;
    font-size: 15px;
}

a{
    color:burlywood;
    text-decoration: none;
}

a:hover{
    color:cadetblue;
    transition: 0.5s ease;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;    
}

#back-btn{
    position: absolute;
    left: 20px;
    top: 10px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 13px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}


#profile-image{
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    top: 10px;
	/* margin-left: 20px; */
}

#back-btn:hover {
    transform: scale(0.98);
    background-color: hsla(0, 0%, 100%, 0.865);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left{
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.intro-text{
    font-weight: 500;
    margin-top: 20px;
}

.grey-text{
    color: grey;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-details{
    margin-top: 20px;
}

.login-details p{
    margin-top: 10px;
}

input{
    all:unset;
    border-bottom: 1px solid white;
}

label{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    color: grey;
    font-size: 12px;
}

.sign-up-btn {
    margin-top: 30px;
    font-weight: 500;
    padding: 10px 20px;
    width: calc(100% - 150px);
    font-size: 13px;
    background-color: #1f845a;
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

textarea{
    background-color: black;
    color: white;
    width: 250px;
    height: 100px;
    font-size: 15px;
}



.sign-up-btn:hover {
    transform: scale(0.98);
    background-color: hsl(155.6, 62.3%, 27.1%);
}



.login-text{
    margin-top: 20px;
    font-size: 13px;
}

.right {
    position: relative; 
    width: 100%;
    max-width: 800px;
    height: 80vh;
    background-image: url('https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.737); 
}

.img-text {
    font-family: "Playball", cursive;
    font-size: 50px;
    font-weight: 700;
    margin: 10px;
    color: white; 
    z-index: 1; 
}

.img-text-below {
    margin: 10px;
    font-weight: 300;
    color: white; 
    z-index: 1; 
}

.above-img{
    z-index: 1;
}




.faqs{
    height: 100vh;
}

.parent-container {
    margin-top: 100px;
    padding: 0 20px 0 20px;
    max-width: 800px;
    width: 100%;
}

#faq-heading{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }


  .faq {
    list-style: none;
    padding-left: 40px;
    padding-right: 20px;
  }
  .faq li {
    border-bottom: 1px solid white;
    margin-bottom: 15px;
  }
  .faq li.active .answer {
    max-height: 275px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }
  .faq li.active .question {
    color: #808080;
    transition: color 0.5s ease;
  }
  .faq .answer {
    color: whitesmoke;
    font-family: serif;
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }
  .faq .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 50%;
    z-index: 2;
  }
  .faq .plus-minus-toggle:before, .faq .plus-minus-toggle:after {
    background: #808080;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
  }
  .faq .plus-minus-toggle:after {
    transform-origin: center;
  }
  .faq .plus-minus-toggle.collapsed:after {
    transform: rotate(90deg);
  }
  .faq .plus-minus-toggle.collapsed:before {
    transform: rotate(180deg);
  }
  .faq .question {
    color: wheat;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
  }
  @media screen and (max-width: 767px) {
    .faq .question {
      font-size: 18px;
    }
  }